
<h1>HOLA</h1>
<h1><%= @name %></h1>
<h1><%= @motto %></h1>


<h2>HERO 1</h2>
<h3>HERO 1 <%= @heros[:hero_1_name] %></h3>
<h3>HERO 1 power <%= @heros[:hero_1_power] %></h3>
<h3>HERO 1 bio <%= @heros[:hero_1_bio] %></h3>

<h2>HERO 2</h2>
<h3>HERO 2 <%= @heros[:hero_2_name] %></h3>
<h3>HERO 2 power <%= @heros[:hero_2_power] %></h3>
<h3>HERO 2 bio <%= @heros[:hero_2_bio] %></h3>

<h2>HERO 3</h2>
<h3>HERO 3 <%= @heros[:hero_3_name] %></h3>
<h3>HERO 3 power <%= @heros[:hero_3_power] %></h3>
<h3>HERO 3 bio <%= @heros[:hero_3_bio] %></h3>
